attrs==23.2.0 ; python_version >= "3.8"
importlib-metadata==8.0.0 ; python_version < "3.10" and python_version >= "3.8"
markdown-it-py==3.0.0 ; python_version >= "3.8"
mdurl==0.1.2 ; python_version >= "3.8"
packaging==24.1 ; python_version >= "3.8"
pygments==2.18.0 ; python_version >= "3.8"
pyyaml==6.0.1 ; python_version >= "3.8"
rich==13.7.1 ; python_version >= "3.8"
tomli==2.0.1 ; python_version >= "3.8"
typeguard==4.3.0 ; python_version >= "3.8"
typing-extensions==4.12.2 ; python_version >= "3.8"
zipp==3.19.2 ; python_version < "3.10" and python_version >= "3.8"
