{#
BSD 3-Clause License

Copyright (c) 2024, Mahid Sheikh

Redistribution and use in source and binary forms, with or without
modification, are permitted provided that the following conditions are met:

1. Redistributions of source code must retain the above copyright notice, this
   list of conditions and the following disclaimer.

2. Redistributions in binary form must reproduce the above copyright notice,
   this list of conditions and the following disclaimer in the documentation
   and/or other materials provided with the distribution.

3. Neither the name of the copyright holder nor the names of its
   contributors may be used to endorse or promote products derived from
   this software without specific prior written permission.

THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS"
AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE
DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE
FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR
SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER
CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY,
OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE
OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
#}
# #####
# This file was created with BpyBuild. Check it out at: 
# https://github.com/Moo-Ack-Productions/bpy-build
# #####

from bpy_addon_build.api import BabContext, BpyWarning, BpyError, BpyTip
{% if minor_version < 10 %}
from typing import Optional, Union
{% endif %}

{# Change the return annotation based on Python version
because Python 3.10 deprecated Union and Optional, and 
the new will likely become more familiar to future devs 
compared to the old syntax
#}
{% macro return_annotation(version) -%}
{% if minor_version >= 10 %}BpyWarning | BpyError | BpyTip | None{% else %}Optional[Union[BpyWarning, BpyError, BpyTip]]{% endif %}
{%- endmacro %}

{%- if pre_build %}
def pre_build(ctx: BabContext) -> {{ return_annotation(version) -}}: 
    """pre_build hook, ran before building.
    
    ctx.current_path will be the source folder 
    defined in bpy-build.yaml.
    """
    pass
{% endif -%}

{% if main %}
def main(ctx: BabContext) -> {{ return_annotation(version) -}}:
    """main hook, ran during the build.
    
    ctx.current_path will be a special copy
    of the source folder.
    """
    pass
{% endif -%}

{% if pre_install %}
def pre_install(ctx: BabContext) -> {{ return_annotation(version) -}}:
    """pre_install function, ran before 
    installing in general.
    
    ctx.current_path will be the build/ folder.
    """
    pass
{% endif -%}

{% if post_install %}
def post_install(ctx: BabContext) -> {{ return_annotation(version) -}}:
    """post_install function, ran after each
    install of the built addon.

    ctx.current_path will be the path to the addons
    folder where the addon was last added.
    """
    pass
{% endif -%}

{% if clean_up %}
def clean_up(ctx: BabContext) -> {{ return_annotation(version) -}}:
    """clean_up function, ran after everything is done.

    ctx.current_path will be the source folder.
    """
    pass
{% endif -%}
